Repository WindowsMeosu/peppypedia, pull requests merged in 2023-10, with the labels that each got.

#63 horizontal rule removals
  docs/content/en/maps/disco_prince.md
  docs/content/en/users/WhiteCat.md
  docs/content/en/users/jhlee0133.md
  docs/content/en/users/mrekk.md
Labels: docs, content, cannot be rebased, testingv2

#69 some cleanup and add to template page
  README.md
  docs/405.html
  docs/406.htm
  docs/406regist.htm
  docs/407.html
  docs/content/en/templates/page template.md
  docs/index.md
Labels: docs, repo, content, testingv2

#77 update readme
  README.md
  docs/index.md
Labels: docs, repo, approval-bypass, testingv2, priority:0
